
  :host ::ng-deep .custom-spinner circle {
    stroke: white;
  }

  :host ::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline,.mat-form-field {
    color: black !important;
    width: 100% !important;
  }

  #ef__btn1{
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    color: white;
    display: block;
    background-color: #f35d5e;
    border-radius: 30px;
    margin: 10px;
    margin-right: 90px;
    border: none;
    width: 190px;
    font-family: 'Poppins', sans-serif;
    outline-style: none;
  }

  #ef__cf{
    margin: 15px;
    border: solid 0.5px black;
    border-radius: 3px;
    padding: 5px;
    min-height: 70px;
    font-family: 'Poppins', sans-serif;
  }